<app-header></app-header>
<div class="p-grid p-m-0 p-p-0">
    <div class="p-card p-p-6 p-m-2">
        <div class="p-card p-d-flex p-jc-center p-ai-center p-p-2">
            <p>Servicio individual [Taxi]</p>
        </div>
        <div class="p-grid">
            <div class="p-d-flex p-jc-center p-lg-12">
                <p>Banderaso</p>
            </div>
            <div class="p-lg-6 p-pl-6">
                <p>Dia normal:</p><span></span><p>D:{{ 2500 | currency  }}</p><span></span><p>N:{{ 3000 | currency  }}</p>
            </div>
            <div class="p-lg-6 p-pl-6">
                <p>Fin de semana y festivos</p><span></span><p>D:{{ 4700 | currency  }}</p><span></span>N:{{ 5200 | currency  }}
            </div>
            <div class="p-lg-12 p-d-flex p-jc-center">
                <p>Carrera minima</p><span></span><p>{{ 4500 | currency  }}</p>
            </div>
        </div>
    </div>
    <div class="p-card p-p-6 p-m-2">
        <div class="p-card p-d-flex p-jc-center p-ai-center p-p-2 p-mb-6">
            <p>Sercicio compartido [Urbano]</p>
        </div>
        <div class="p-grid">
            <div class="p-lg-6 p-pl-6">
                <p>Dia normal</p><span></span><p>D:{{ 2500 | currency  }}</p><span></span><p>N:{{ 3000 | currency  }}</p>
            </div>
            <div class="p-lg-6 p-pl-6">
                <p>Fin de semana y festivos</p><span></span><p>D:{{ 4700 | currency  }}</p><span></span><p>N:{{ 5200 | currency  }}</p>
            </div>
        </div>
    </div>
    <div class="p-card p-p-6 p-m-2">
        <div class="p-card p-p-2 p-d-flex p-jc-center p-ai-center">
            <p>Servicio intermunicipal</p>
        </div>
        <div class="p-grid p-p-6">
           <img src="./../../../assets/images/uno.png" alt="">
        </div>
    </div>
</div>
