<header class="p-grid">
  <div class="p-lg-10" >
    <div >
        <p-breadcrumb
      [model]="enlaces"
      [home]="principal"
    ></p-breadcrumb>
    </div>
    <div class="tittle">
        <h1>{{ titulo }}</h1>
      </div>
  </div>
  <div class="p-lg-2 p-grid p-d-flex p-ai-center p-jc-center p-m-0 p-p-0">
    <div class="p-lg-6 p-md-8 p-d-flex p-jc-end">
        <p class="tittle">Nombre Usuario</p>
    </div>
    <div class="p-d-flex  p-lg-6 p-md-4">
        <i class="pi pi-user"></i>
    </div>
  </div>
</header>
