<app-header></app-header>
<div *ngIf="!admin; else noLogued" class="p-mt-1">
  <div class="p-d-flex p-m-0 p-p-0">
    <div class="p-lg-8">
      <app-slider></app-slider>
    </div>
    <div class="p-lg-4 p-pt-lg-2">
      <div class="p-mb-3 p-mt-lg-2">
        <p-button
          label="Pedir servicio"
          styleClass="p-button-raised p-button-secondary"
          routerLink="servicio-taxi"
        ></p-button>
      </div>
      <div class="p-mb-3">
        <p-button
          label="Ver mis servicios"
          styleClass="p-button-raised p-button-secondary"
          (onClick)="activePending()"
        ></p-button>
      </div>
      <div class="p-mb-3">
        <p-button
          label="Pedir mi carnet"
          styleClass="p-button-raised p-button-secondary"
          (onClick)="showDialog()"
        ></p-button>
      </div>
      <div>
        <p-button
          label="Ver horarios y precios"
          styleClass="p-button-raised p-button-secondary"
          routerLink="info"
        ></p-button>
      </div>
    </div>
  </div>
</div>
<ng-template #noLogued>
  <div class="p-grid p-mt-1">
    <div class="p-lg-3">
      <div class="p-lg-4 p-pt-lg-2">
        <div class="p-mb-3 p-mt-lg-2">
          <p-button
            label="Servicios de taxi"
            styleClass="p-button-raised p-button-secondary"
            (onClick)="activeServices()"
          ></p-button>
        </div>
        <div class="p-mb-3">
          <p-button
            label="Ver carnets"
            styleClass="p-button-raised p-button-secondary"
            (onClick)="activeCarnets()"
          ></p-button>
        </div>
      </div>
    </div>
    <div class="p-lg-9 p-p-4">
      <div *ngIf="activeServicesAdmin">
        <p-table
          [value]="serviciosTaxi"
          responsiveLayout="stack"
          [breakpoint]="'960px'"
          [tableStyle]="{ 'min-width': '40rem' }"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>Servicio</th>
              <th>Lugar de recogida</th>
              <th>Lugar de llegada</th>
              <th>Hora</th>
              <th>Estado</th>
              <th>Aprovar</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-servicio let-columns="columns">
            <tr>
              <td>
                <span class="p-column-title">Servicio</span
                >{{ servicio.newService.servicio }}
              </td>
              <td>
                <span class="p-column-title">Lugar de recogida</span
                >{{ servicio.newService.placeDeparture }}
              </td>
              <td>
                <span class="p-column-title">Lugar de llegada</span
                >{{ servicio.newService.destinationPlace }}
              </td>
              <td>
                <span class="p-column-title">Hora</span
                >{{ servicio.newService.time }}
              </td>
              <td>
                <span class="p-column-title">Estado</span
                >{{ servicio.newService.status }}
              </td>
              <td>
                <p-button
                  icon="pi pi-check"
                  styleClass="p-button-rounded p-button-text p-button-raised hola"
                  (onClick)="aprovarServicioTaxi(servicio.newService.placeDeparture, servicio.newService.destinationPlace, servicio.newService.time)"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div *ngIf="activeCarnetsAdmin">
        <p-table
          [value]="carnetsPendientes"
          responsiveLayout="stack"
          [breakpoint]="'960px'"
          [tableStyle]="{ 'min-width': '40rem' }"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Tipo usuario</th>
              <th>Tipo carnet</th>
              <th>Estado</th>
              <th>Ver completo</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-carnet let-columns="columns">
            <tr>
              <td>
                <span class="p-column-title">Servicio</span
                >{{ carnet.newCarnet.username }}
              </td>
              <td>
                <span class="p-column-title">Lugar de recogida</span
                >{{ carnet.newCarnet.apellido }}
              </td>
              <td>
                <span class="p-column-title">Lugar de llegada</span
                >{{ carnet.newCarnet.tipoUsuario }}
              </td>
              <td>
                <span class="p-column-title">Hora</span
                >{{ carnet.newCarnet.tipoCarnet }}
              </td>
              <td>
                <span class="p-column-title">Estado</span
                >{{ carnet.newCarnet.status }}
              </td>
              <td>
                <p-button
                  icon="pi pi-check"
                  styleClass="p-button-rounded p-button-text p-button-raised hola"
                  (onClick)="viewCarnetPendingDialog(carnet)"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</ng-template>

<!--Dialogo que se encarga de pedir los datos necesarios para generar el carnet-->

<p-dialog
  header="Digita tu carnet rapido y facil..."
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="activeFormUrbano = false; activeFormIntermunicipal = false"
>
  <p-tabMenu
    [model]="servicioCompartido"
    [activeItem]="activeItem"
    (activeItemChange)="servicio($event)"
  ></p-tabMenu>
  <div *ngIf="activeFormIntermunicipal" class="p-card p-grid p-m-2">
    <div class="p-lg-4">
      <form action="" [formGroup]="formCarnetMunicipal">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-user-edit"></i>
          </span>
          <input pInputText placeholder="Nombre" formControlName="nombre" />
        </div>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-user-edit"></i>
          </span>
          <input pInputText placeholder="Apellido" formControlName="apellido" />
        </div>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-user-edit"></i>
          </span>
          <input
            pInputText
            placeholder="Correo electronico"
            formControlName="email"
          />
        </div>
        <div class="p-mb-3 p-ml-3" style="width: 180px">
          <p-dropdown
            [options]="tipoUsuario"
            [(ngModel)]="usuario"
            optionLabel="name"
            placeholder="Seleccione un tipo"
            formControlName="usuario"
          ></p-dropdown>
        </div>
        <div class="p-inputgroup p-pt-0">
          <p-calendar
            appendTo="body"
            dateFormat="dd/mm/yy"
            [readonlyInput]="true"
            placeholder="Fecha de nacimiento"
            formControlName="fechaDeNacimiento"
          ></p-calendar>
        </div>
        <div class="p-col-12 p-d-flex p-jc-end">
          <button
            pButton
            type="button"
            class="p-button-raised p-button-rounded"
            label="Enviar"
            style="width: 30%; height: 30px"
            (click)="carnetIntermunicipal()"
          ></button>
        </div>
      </form>
    </div>
    <div class="p-lg-8 p-pl-3">
      <div class="p-pl-1">
        <p>
          Por favor ingrese 1 foto del deocumento de identidad, por cada lado, y
          al mismo tiempo adjunte el documento entregado por la alcaldia local
          de su pueblo.
        </p>
      </div>
      <div *ngIf="!viewUpdateImage; else update">
        <p-fileUpload
          name="myFile[]"
          url="http://localhost:8080/upload"
          [multiple]="true"
          [scrollTop]="true"
          [previewWidth]="20"
          (onUpload)="onUpload($event)"
          [auto]="true"
        ></p-fileUpload>
      </div>
      <ng-template #update>
        <img src="{{ img1 }}" alt="" />
        <img src="{{ img2 }}" alt="" />
        <img src="{{ img3 }}" alt="" />
      </ng-template>
    </div>
  </div>
  <div *ngIf="activeFormUrbano" class="p-card p-grid p-m-2">
    <div class="p-lg-4">
      <form action="" [formGroup]="formCarnetUrbano">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-user-edit"></i>
          </span>
          <input pInputText placeholder="Nombre" formControlName="nombre" />
        </div>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-user-edit"></i>
          </span>
          <input pInputText placeholder="Apellido" formControlName="apellido" />
        </div>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-user-edit"></i>
          </span>
          <input
            pInputText
            placeholder="Correo electronico"
            formControlName="email"
          />
        </div>
        <div class="p-mb-3 p-ml-3" style="width: 180px">
          <p-dropdown
            [options]="tipoUsuarioUno"
            [(ngModel)]="usuario"
            optionLabel="name"
            placeholder="Seleccione un tipo"
            formControlName="usuario"
          ></p-dropdown>
        </div>
        <div class="p-inputgroup p-pt-0">
          <p-calendar
            appendTo="body"
            dateFormat="dd/mm/yy"
            [readonlyInput]="true"
            placeholder="Fecha de nacimiento"
            formControlName="fechaDeNacimiento"
          ></p-calendar>
        </div>
        <div class="p-col-12 p-d-flex p-jc-end">
          <button
            pButton
            type="button"
            class="p-button-raised p-button-rounded"
            label="Enviar"
            style="width: 30%; height: 30px"
            (click)="carnetUrbano()"
          ></button>
        </div>
      </form>
    </div>
    <div class="p-lg-8 p-pl-3">
      <div class="p-pl-1">
        <p>
          Por favor ingrese 1 foto de su cedula y/o carnet estudiantil segun sea
          el caso.
          <br />
          1. Estudiante: Carnet estudiantil <br />
          2. Persona tercera edad: Cedula de ciudadania
        </p>
      </div>
      <div *ngIf="!viewUpdateImage; else update">
        <p-fileUpload
          name="myFile[]"
          url="http://localhost:8080/upload"
          [multiple]="true"
          [scrollTop]="true"
          [previewWidth]="20"
          (onUpload)="onUpload($event)"
          [auto]="true"
        ></p-fileUpload>
      </div>
      <ng-template #update>
        <img src="{{ img1 }}" alt="" />
        <img src="{{ img2 }}" alt="" />
        <img src="{{ img3 }}" alt="" />
      </ng-template>
    </div>
  </div>
</p-dialog>

<p-dialog
  header="Servicios de taxi"
  [(visible)]="viewPending"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="activeFormUrbano = false; activeFormIntermunicipal = false"
>
  <p-table
    [value]="servicios"
    responsiveLayout="stack"
    [breakpoint]="'960px'"
    [tableStyle]="{ 'min-width': '40rem' }"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Servicio</th>
        <th>Lugar de recogida</th>
        <th>Lugar de llegada</th>
        <th>Hora</th>
        <th>Estado</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-servicio let-columns="columns">
      <tr>
        <td>
          <span class="p-column-title">Servicio</span
          >{{ servicio.newService.servicio }}
        </td>
        <td>
          <span class="p-column-title">Lugar de recogida</span
          >{{ servicio.newService.placeDeparture }}
        </td>
        <td>
          <span class="p-column-title">Lugar de llegada</span
          >{{ servicio.newService.destinationPlace }}
        </td>
        <td>
          <span class="p-column-title">Hora</span>{{ servicio.newService.time }}
        </td>
        <td>
          <span class="p-column-title">Estado</span
          >{{ servicio.newService.status }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<!--PDialog para la ver la informacion de un carnet pendiente-->
<p-dialog
  header="Servicios de taxi"
  [(visible)]="viewCarnetPending"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <form action="" [formGroup]="formCarnet">
    <div class="p-grid">
      <div class="p-lg-6">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-user-edit"></i>
          </span>
          <input
            pInputText
            placeholder="Correo electronico"
            formControlName="nombre"
          />
        </div>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-user-edit"></i>
          </span>
          <input
            pInputText
            placeholder="Correo electronico"
            formControlName="apellido"
          />
        </div>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-user-edit"></i>
          </span>
          <input
            pInputText
            placeholder="Correo electronico"
            formControlName="tipoUsuario"
          />
        </div>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-user-edit"></i>
          </span>
          <input
            pInputText
            placeholder="Correo electronico"
            formControlName="fechaNacimiento"
          />
        </div>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-user-edit"></i>
          </span>
          <input
            pInputText
            placeholder="Correo electronico"
            formControlName="tipoCarnet"
          />
        </div>
      </div>
      <div class="p-lg-6">
        <div class="p-lg-6">
          <img src="{{imgCarnetPending}}" alt="" style="width: 250px;">
        </div>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-user-edit"></i>
          </span>
          <input
            pInputText
            placeholder="Correo electronico"
            formControlName="tipoCarnet"
          />
        </div>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-user-edit"></i>
          </span>
          <input
            pInputText
            placeholder="Correo electronico"
            formControlName="tipoCarnet"
          />
        </div>
        <div class="p-lg-12">
          <p-button label="Aprobar" styleClass="p-button-success" (onClick)="crearCarnet()"></p-button>
          <div class="p-mt-2">
            <p-button label="Rechazar" styleClass="p-button-danger" (onClick)="rechazar()"></p-button>
          </div>
        </div>
      </div>
      
    </div>
  </form>
</p-dialog>

<p-toast></p-toast>

<!--************************Panel para que los mensajes se puedan mostrar en pantalla-->