:host ::ng-deep .p-button{
    padding: 4%;
    background-color: rgba(77, 94, 163, 1);
}

:host ::ng-deep .p-inputgroup{
    padding: 1rem;
}

:host ::ng-deep .p-fileupload .p-fileupload-buttonbar .p-button{
    width: 130px;
    height: 30px;
}

:host ::ng-deep .p-dialog .p-dialog-header{
    width: 800px;
}

:host ::ng-deep .p-dialog .p-dialog-content:last-of-type{
    width: 800px;
}

:host ::ng-deep .p-dialog{
    align-items: center;
}

:host ::ng-deep .p-button .p-button-label{
    font-size: small;
}

:host ::ng-deep .p-button.p-button-icon-only{
    width: 1rem;
    height: 1rem;
}

:host ::ng-deep .p-button.p-button-icon-only.pi{
    color: aqua;
}

:host ::ng-deep .p-fileupload .p-fileupload-content{
    width: 100%;
    height: 110px;
    padding: 12px;
}

:host ::ng-deep .p-fileupload .p-fileupload-buttonbar{
    padding: .6rem;
}

:host ::ng-deep .p-fileupload .p-fileupload-row > div{
    padding: 0;
    width: 0;
    font-size: 8px;
}

:host ::ng-deep img{
    width: 10px;
}

.tamanio{
    width: 100%;
}

:host ::ng-deep .p-dropdown{
    width: 121%;
}

:host ::ng-deep .p-calendar{
    width: 100%;
}

:host ::ng-deep .p-button.p-button-icon-only{
    width: 2rem;
    height: 2rem;
}

:host ::ng-deep .p-button.p-button-icon-only:hover{
    width: 2rem;
    height: 2rem;
    background-color: rgb(23, 70, 255);
}

:host ::ng-deep .p-button, .p-splitbutton.p-button-secondary{
    width: 250px;
    padding: 10px;;
}