<app-header></app-header>
<div class="p-grid p-card p-m-5 p-p-6 container">
  <div class="p-lg-4">
    <form action="" [formGroup]="formNewService">
      <div class="p-mb-3 p-ml-3">
        <p-dropdown
          [options]="tipoServicio"
          [(ngModel)]="servicio"
          optionLabel="name"
          placeholder="Selecciona un servicio"
          formControlName="service"
        ></p-dropdown>
      </div>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-flag"></i>
        </span>
        <input pInputText placeholder="Lugar de recogida" formControlName="placeDeparture"/>
      </div>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-flag-fill"></i>
        </span>
        <input pInputText placeholder="Destino" formControlName="destinationPlace" />
      </div>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-flag-fill"></i>
        </span>
        <input pInputText pKeyFilter="int" placeholder="Metros recorridos ej. 56" formControlName="metros" />
      </div>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-stopwatch"></i>
        </span>
        <input pInputText type="time" formControlName="time"/>
      </div>
      <div class="p-inputgroup">
        <div class="p-d-flex p-lg-6">
          <span class="p-inputgroup-addon">
            <i class="pi pi-dollar"></i>
          </span>
          <input pInputText placeholder="Valor banderazo" [disabled]="true" />
        </div>
      </div>
    </form>
  </div>
  <div class="p-lg-5">
    <google-map width="400px" height="300px"></google-map>
  </div>
  <div class="p-d-flex p-ai-center p-jc-center p-lg-3">
    <div>
      <div class="p-d-flex p-jc-center p-mb-3">
        <p-button
          label="Ver mis servicios"
          styleClass="p-button-raised p-button-secondary"
          (onClick)="confirmService()"
        ></p-button>
      </div>
      <div class="p-d-flex p-jc-center p-mb-3">
        <p-button
          label="Confirmar"
          styleClass="p-button-raised p-button-secondary"
          (onClick)="confirmService()"
        ></p-button>
      </div>
    </div>
  </div>
</div>

<!--Toast para poder mostrar los mensajes en sobre pantalla-->
<p-toast></p-toast>